
@{
    ViewData["Title"] = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="container">
            <div class="col-md-4 footer-one">
                <h5>เกี่ยวกับ </h5>
                <p>Cras sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>