
@{
    ViewData["Title"] = "ift";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container p-3 my-3 bg-dark text-white">
        <h1 class="text-center">ต้องการเพิ่มข้อมูล?</h1>
        <br>
        <div class="text-center">
        <a href="insert" class="btn btn-primary" role="button">อะไหล่รถ&รถเข้าใหม่</a>
        <a href="insertAu" class="btn btn-primary" role="button">อู่ที่อยู่ใกล้เคียง</a>
            </div>
    </div>
