@model IEnumerable<ProjectCheck.Models.insertdata>

@{
    ViewData["Title"] = "price";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="services" class="services">
    <div class="container">

        <div class="section-title md-auto" data-aos="fade-up">
            <h2>อะไหล่ <strong>เข้าใหม่!!</strong></h2>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                @if (item.status == "1")
                {
                    <div class="col-lg-4 col-md-6 mb-sm-5">
                        <div class="icon-box shadow p-3 md-auto bg-white rounded h-100" data-aos="fade-up">
                            <img src="@Html.DisplayFor(model => item.pictrue)" class="rounded-circle " alt="Cinque Terre" width="150" height="106">
                            <h4 class="title"><a href="">@Html.DisplayFor(model => item.name)</a></h4>
                            <p class="description">ราคา :@Html.DisplayFor(model => item.price)</p>
                            <p class="description">@Html.DisplayFor(model => item.detail)</p>
                            @Html.ActionLink("รายละเอียด", "detail", new { id = item._id }, new { @class = "btn btn-warning" })
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section><!-- End Services Section -->


